[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyYAML = ">=3.12"
paramiko = "*"
scp = "*"
tqdm = "*"

[dev-packages]
pytest = "*"
mypy = "*"
grip = "*"

[requires]
python_version = "3.6"
